.md-header {
	background-color: color-mix(
		in srgb,
		var(--md-default-bg-color) 75%,
		transparent
	);
	backdrop-filter: blur(5rem);
	box-shadow: none !important;
	border-bottom: none;
}

.md-header--shadow {
	border-bottom: 1px solid var(--header-line);
}

.md-search__form {
	background-color: var(--panel) !important;
	border-radius: 6px !important;
}

.md-search__input::placeholder {
	color: var(--md-primary-bg-color) !important;
}
